@using Roles = Project_1.Models.Authentication.Roles
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="pt-5">
    <div class="container-lg">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Municipalidad</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
                    </li>
                    <!--Administrador-->
                    @if (User.Identity.IsAuthenticated && @CurrentUser.Role == Roles.administrador)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Propiedad
                            </a>
                            <div class="dropdown-menu navbar-dark " aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/Propiedad/Index">Seleccionar</a>
                                <a class="dropdown-item" href="/Propiedad/InsertForm">Agregar</a>
                                <a class="dropdown-item" href="/Propiedad/UpdateForm">Actualizar</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Propietarios
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/Propietario/Index/">Seleccionar</a>
                                <a class="dropdown-item" href="/Propietario/InsertForm/">Agregar</a>
                                <a class="dropdown-item" href="/Propietario/UpdateForm/">Actualizar</a>

                            </div>
                        </li>
                    }

                    <!--Usuario Regular-->
                    @if (User.Identity.IsAuthenticated && @CurrentUser.Role == Roles.usuario)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mis Propiedades
                            </a>
                            <div class="dropdown-menu navbar-dark " aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Seleccionar</a>
                                <a class="dropdown-item" href="#">Pagar</a>
                                <a class="dropdown-item" href="#">Recibos</a>
                            </div>
                        </li>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("LogOut", "Auth")">Log Out</a>
                        </li>
                        <span class="navbar-text">
                            @CurrentUser.Name
                        </span>
                    }

                </ul>
            </div>
        </nav>
</div>

<div ng-view></div>
<div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Proyecto I Bases De Datos</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>
</html>
