@using Project_1.Models.TipoDocId
@model Project_1.ViewModels.Propietario.PropietarioDetailViewModel
@{
    ViewBag.Title = "Detail";
}

<!--INFO-->
<div class="jumbotron">
    <h3 class="display-4">@Model.propietario.nombre</h3>
    <h4>@Model.propietario.nombreDocId <span class="badge badge-info">#@Model.propietario.valorDocId</span></h4>

    @{
        if (Model.propietario.idDocId == TipoDocId.cedulaJuridica)
        {
            <hr class="my-4">
            <h4>Responsable Juridico: @Model.propietarioJuridico.responsable</h4>
            <h4>Documento<span class="badge badge-info">#@Model.propietarioJuridico.valorDocId</span></h4>
        }
    }

    <hr class="my-4">
    <p class="lead">
        <button class="btn btn-sm btn-dark" role="button">
            @Html.ActionLink(
                "Agregar Propiedad",
                "UpdateRedirect",
                "Propietario",
                new { @Model.propietario.valorDocId },
                new { @class = "text-white" })
            <ion-icon name="arrow-up-outline"></ion-icon>
        </button>
        <button class="btn btn-sm btn-dark" role="button">
            @Html.ActionLink(
                "Actualizar",
                "UpdateRedirect",
                "Propietario",
                new { @Model.propietario.valorDocId },
                new { @class = "text-white" })
            <ion-icon name="arrow-up-outline"></ion-icon>
        </button>

        <button class="btn btn-sm btn-dark" role="button">
            @Html.ActionLink(
                "Borrar Propietario",
                "Delete",
                "Propietario",
                new { @Model.propietario.valorDocId },
                new { @class = "text-danger" })
            <ion-icon name="arrow-up-outline"></ion-icon>
        </button>
    </p>
</div>

<!--PROPIEDADES-->
<div>

    <h3 class="my-4">Propiedades</h3>

    <table id="propiedad-table" class="table table-hover" style="table-layout: fixed">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Numero de Finca</th>
                <th scope="col">Valor</th>
                <th scope="col">Direccion</th>
                <th>Ver</th>
                <th>Actualizar</th>
                <th>Despropiar</th>
            </tr>
        </thead>
        @foreach (var propiedad in Model.propiedades)
        {
            <tr>
                <th>@propiedad.numeroFinca</th>
                <td>@propiedad.valor</td>
                <td>@propiedad.direccion</td>
                <td><a href="~/Propiedad/Detail/@propiedad.numeroFinca"><ion-icon name="home-outline" class="js-update btn btn-outline-info"></ion-icon></a></td>
                <td><a href="Propiedad/UpdateForm/@propiedad.numeroFinca"><ion-icon name="caret-up-circle-outline" class="js-delete btn btn-outline-success"></ion-icon></a></td>
                <td><ion-icon name="thumbs-down-outline" class="js-detail btn btn-outline-danger"></ion-icon></td>
            </tr>
        }
    </table>
</div>

