@using Project_1.Models
@model Project_1.ViewModels.PropietarioIndexViewModel
@{
    ViewBag.Title = "Propietarios";
}
<div class="jumbotron">
    <h3 class="display-4">Propietarios</h3>
    <p class="lead"></p>
    <hr class="my-4">
    <p class="lead">
        <button class="btn btn-outline-dark" role="button">
            @Html.ActionLink("Agregar", "InsertForm", "Propietario")
            <ion-icon name="add-outline"></ion-icon>
        </button>

        <button class="btn btn-outline-dark" role="button">
            @Html.ActionLink("Actualizar", "UpdateForm", "Propietario")
            <ion-icon name="arrow-up-outline"></ion-icon>
        </button>
    </p>
</div>


<table id="propietario-table" class="table table-hover" style=" table-layout: fixed">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Documento</th>
            <th scope="col">Tipo de Documento</th>
            <th>Ver</th>
            <th>Actualizar</th>
            <th>Borrar</th>
        </tr>
    </thead>
    @foreach (var propietario in Model.propietarios)
    {
        <tr>
        <th>@propietario.nombre</th>
        <td>@propietario.valorDocId</td>
        <td>@propietario.nombreDocId</td>
        <td><a href="~/Propietario/Detail/@propietario.valorDocId"><ion-icon name="arrow-up-circle-outline" class="js-detail btn btn-outline-success"></ion-icon></a></td>
        <td><a href="~/Propietario/UpdateRedirect/@propietario.valorDocId"><ion-icon name="arrow-up-circle-outline" class="js-update btn btn-outline-success"></ion-icon></a></td>
        <td><ion-icon propietario-data=@propietario.valorDocId name="trash-outline" class="js-delete btn btn-outline-danger"></ion-icon></td>
        </tr>
    }
</table>



@section scripts{
    <script>

        $(document).ready(function () {
            $("#propietario-table").DataTable();

            $("#propietario-table").on("click", ".js-delete",
                function() {
                    var deleteButton = $(this);

                    bootbox.confirm({
                        message: "¿Desea eliminar al propietario #" + deleteButton.attr("propietario-data") + " de la base de datos ?",
                        buttons: {
                            confirm: {
                                label: 'Sí',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-danger'
                            }
                        },
                        callback: function(result) {
                            if (result) {
                                $.ajax({
                                    method: "POST",
                                    url: "/Propietario/Delete/" + deleteButton.attr("propietario-data"),
                                    success: function() {
                                        deleteButton.parents("tr").remove();
                                    }
                                });
                            }
                        }
                    });

                });

        });
    </script>
}
