@model Project_1.ViewModels.PropietarioInsertViewModel
@using System.Diagnostics
@using Project_1.Models

@{
    ViewBag.Title = "Create";
}

<h2>Actualizar Propietario</h2>

@using (Html.BeginForm("Update", "Propietario"))
{
    //WarningMessage
    <div class="warning-message alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">

            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    //Sucessful Message
    <div class="successful-message alert alert-success alert-dismissible fade show" role="alert">
        <strong>Actualizado!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">

            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    //ENTRIES
    @Html.LabelFor(m => m.propietario.nombre)
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">-</span>
        </div>
        @Html.TextBoxFor(m => m.propietario.nombre, new { @class = "form-control", placeholder = @Model.propietario.nombre, aria_describedby = "basic-addon1" })
        <button type="button" class="btn btn-outline-light" disabled>@Html.ValidationMessageFor(m => m.propietario.nombre)</button>

    </div>


    @Html.LabelFor(m => m.propietario.valorDocId)
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">#</span>
        </div>
        @Html.TextBoxFor(m => m.propietario.valorDocId, new { @class = "form-control", placeholder = @Model.propietario.valorDocId, aria_describedby = "basic-addon1" })
        <button type="button" class="btn btn-outline-light" disabled>@Html.ValidationMessageFor(m => m.propietario.valorDocId)</button>
    </div>

    @Html.LabelFor(m => m.propietario.nombreDocId)
    <div class="input-group mb-3">
        @Html.DropDownListFor(m => m.propietario.idDocId, new SelectList(Model.tipoDocIdList, "id", "nombre"), "Seleccione Tipo Documento", new { @class = "form-control" })
        <button type="button" class="btn btn-outline-light" disabled>@Html.ValidationMessageFor(m => m.propietario.idDocId)</button>
    </div>

    //Form de Propietario Juridico
    <div class="propietario-juridico-form">
        <div class="form-group">
            <h5>@Html.LabelFor(m => m.propietario_Juridico)</h5>

            @Html.LabelFor(m => m.propietario_Juridico.responsable)
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">+</span>
                </div>
                @Html.TextBoxFor(m => m.propietario_Juridico.responsable, new { @class = "form-control", placeholder = @Model.propietario_Juridico.responsable, aria_describedby = "basic-addon1" })
                <button type="button" class="btn btn-outline-light" disabled>@Html.ValidationMessageFor(m => m.propietario_Juridico.responsable)</button>
            </div>

            @Html.LabelFor(m => m.propietario_Juridico.valorDocId)
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">+</span>
                </div>
                @Html.TextBoxFor(m => m.propietario_Juridico.valorDocId, new { @class = "form-control", placeholder = @Model.propietario_Juridico.valorDocId, aria_describedby = "basic-addon1" })
                <button type="button" class="btn btn-outline-light" disabled>@Html.ValidationMessageFor(m => m.propietario_Juridico.valorDocId)</button>
            </div>

            @Html.LabelFor(m => m.propietario_Juridico.jIdDocId)
            <div class="input-group mb-3">
                @Html.DropDownListFor(m => m.propietario_Juridico.jIdDocId, new SelectList(Model.tipoDocIdList, "id", "nombre"), new { @class = "tipoDocId-select form-control" })
                <button type="button" class="btn btn-outline-light" disabled>@Html.ValidationMessageFor(m => m.propietario_Juridico.jIdDocId)</button>
            </div>
        </div>
    </div>

    //Submit
    <button type="submit" class="btn btn-primary">Guardar</button>
    //Call the action target [HttpPost]

}



@section scripts{
    <script>
        $(document).ready(function(){
            var warning = @((TempData["WarningMessage"] != null).ToString().ToLower());
            var success = @((TempData["SuccessfulMessage"] != null).ToString().ToLower());
            var warningDiv = $("div.warning-message");
            var successfulDiv = $("div.successful-message");
            if (warning == true) {
                successfulDiv.hide();
                warningDiv.show();
                warningDiv.append("@TempData["WarningMessage"]");


            }
            else if (success == true) {
                warningDiv.hide();
                successfulDiv.show();
                successfulDiv.append("@TempData["SuccessfulMessage"]");

            } else {
                warningDiv.hide();
                successfulDiv.hide();
            }


            $("select.tipoDocId-select").change(function() {
                var selectedIdDocId = $(this).children("option:selected").val();
                console.log(selectedIdDocId);
                var form = $("div.propietario-juridico-form");
                if (selectedIdDocId == @Model.cedulaJuridica){
                    form.show().slideDown("slow");
                } else {
                    form.hide();
                }
                
            });
        });

    </script>
}


