@using Project_1.Models
@using Project_1.Models.TipoDocId
@model Project_1.ViewModels.Propiedad.PropiedadDetailViewModel
@{
    ViewBag.Title = "Detail";
}

<!--INFO-->
<div class="jumbotron">
    <h3 class="display-4">Numero de Finca: @Model.propiedad.numeroFinca</h3>
    <h4>Valor: <span class="badge badge-info">$@Model.propiedad.valor</span></h4>
    <hr class="my-4">
    <h4>Dirección: <span class="badge badge-info">@Model.propiedad.direccion</span></h4>
    <p class="lead">
        <button class="btn btn-sm btn-dark" role="button">
            @Html.ActionLink(
                "Actualizar",
                "UpdateRedirect",
                "Propiedad",
                new { @Model.propiedad.numeroFinca },
                new { @class = "text-white" })
            <ion-icon name="arrow-up-outline"></ion-icon>
        </button>

        <button class="btn btn-sm btn-dark" role="button">
            @Html.ActionLink(
                "Borrar Propiedad",
                "Delete",
                "Propiedad",
                new { @Model.propiedad.numeroFinca },
                new { @class = "text-danger" })
            <ion-icon name="arrow-up-outline"></ion-icon>
        </button>
    </p>
</div>

<!--PROPIETARIOS-->
@if (Model.propietarios.Any() == true)
{
    <div>
        <h3 class="my-4">Propietarios</h3>
        <table id="propietario-table" class="table table-hover" style="table-layout: fixed">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Tipo de Documento</th>
                    <th>Ver</th>
                    <th>Actualizar</th>
                    <th>Despropiar</th>
                </tr>
            </thead>
            @foreach (var propietario in Model.propietarios)
            {
                <tr>
                    <th>@propietario.nombre</th>
                    <td>@propietario.valorDocId</td>
                    <td>@propietario.nombreDocId</td>
                    <td><a href="~/Propietario/Detail/@propietario.valorDocId"><ion-icon name="person" class="js-detail btn btn-outline-success"></ion-icon></a></td>
                    <td><a href="~/Propietario/UpdateRedirect/@propietario.valorDocId"><ion-icon name="arrow-up-circle-outline" class="js-update btn btn-outline-success"></ion-icon></a></td>
                    <td><ion-icon propietario-data=@propietario.valorDocId name="thumbs-down-outline" class="js-delete-propietario btn btn-outline-danger"></ion-icon></td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <h3 class="my-4">No hay propietarios</h3>
}


<!--CC_FIjo-->

@if (Model.CC_Fijo.Any())
{
    <div>
        <h3 class="my-4">Conceptos de Cobro Fijo</h3>
        <table id="propietario-table" class="table table-hover" style="table-layout: fixed">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Fecha Incio</th>
                    <th scope="col">Fecha Fin</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Día cobro</th>
                    <th scope="col">Día vencimiento</th>
                    <th scope="col">Es fijo</th>
                    <th scope="col">Es recurrente</th>
                    <th scope="col">Monto</th>
                    <th>Ver</th>
                    <th>Modificar</th>
                    <th>Cancelar</th>
                </tr>
            </thead>
            @foreach (var concepto in Model.CC_Fijo)
            {
                <tr>
                    <td>@concepto.fechaInicio</td>
                    <td>@concepto.fechaFin</td>
                    <td>@concepto.nombreCC</td>
                    <td>@concepto.diaCobro</td>
                    <td>@concepto.diaVencido</td>
                    <td>@concepto.esFijo</td>
                    <td>@concepto.esRecurrete</td>
                    <td>@concepto.monto</td>
                    <td><a href="#"><ion-icon name="person" class="btn btn-outline-success"></ion-icon></a></td>
                    <td><a href="#"><ion-icon name="arrow-up-circle-outline" class="btn btn-outline-success"></ion-icon></a></td>
                    <td><ion-icon name="thumbs-down-outline" class="btn btn-outline-danger"></ion-icon></td>
                </tr>
            }
        </table>
    </div>
}

<!--CC_Consumo-->

@if (Model.CC_Consumo.Any())
{
    <div>
        <h3 class="my-4">Conceptos de Cobro Consumo</h3>
        <table id="propietario-table" class="table table-hover" style="table-layout: fixed">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Fecha Incio</th>
                    <th scope="col">Fecha Fin</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Día cobro</th>
                    <th scope="col">Día vencimiento</th>
                    <th scope="col">Es fijo</th>
                    <th scope="col">Es recurrente</th>
                    <th scope="col">Valor</th>
                    <th>Ver</th>
                    <th>Modificar</th>
                    <th>Cancelar</th>
                </tr>
            </thead>
            @foreach (var concepto in Model.CC_Consumo)
            {
                <tr>
                    <td>@concepto.fechaInicio</td>
                    <td>@concepto.fechaFin</td>
                    <td>@concepto.nombreCC</td>
                    <td>@concepto.diaCobro</td>
                    <td>@concepto.diaVencido</td>
                    <td>@concepto.esFijo</td>
                    <td>@concepto.esRecurrete</td>
                    <td>@concepto.valor</td>
                    <td><a href="#"><ion-icon name="person" class="btn btn-outline-success"></ion-icon></a></td>
                    <td><a href="#"><ion-icon name="arrow-up-circle-outline" class="btn btn-outline-success"></ion-icon></a></td>
                    <td><ion-icon name="thumbs-down-outline" class="btn btn-outline-danger"></ion-icon></td>
                </tr>
            }
        </table>
    </div>
}


<!--CC_Intereses_Moratorios-->

@if (Model.CC_Intereses_Moratiorios.Any())
{
    <div>
        <h3 class="my-4">Conceptos de Cobro Intereses_Moratorios</h3>
        <table id="propietario-table" class="table table-hover" style="table-layout: fixed">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Fecha Incio</th>
                    <th scope="col">Fecha Fin</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Día cobro</th>
                    <th scope="col">Día vencimiento</th>
                    <th scope="col">Es fijo</th>
                    <th scope="col">Es recurrente</th>
                    <th>Ver</th>
                    <th>Modificar</th>
                    <th>Cancelar</th>
                </tr>
            </thead>
            @foreach (var concepto in Model.CC_Intereses_Moratiorios)
            {
                <tr>
                    <td>@concepto.fechaInicio</td>
                    <td>@concepto.fechaFin</td>
                    <td>@concepto.nombreCC</td>
                    <td>@concepto.diaCobro</td>
                    <td>@concepto.diaVencido</td>
                    <td>@concepto.esFijo</td>
                    <td>@concepto.esRecurrete</td>
                    <td><a href="#"><ion-icon name="person" class="btn btn-outline-success"></ion-icon></a></td>
                    <td><a href="#"><ion-icon name="arrow-up-circle-outline" class="btn btn-outline-success"></ion-icon></a></td>
                    <td><ion-icon name="thumbs-down-outline" class="btn btn-outline-danger"></ion-icon></td>
                </tr>
            }
        </table>
    </div>
}

<!--Usuarios Suscritos-->

@if (@Model.usuarios.Any())
{
    <div>
        <h3 class="my-4">Usuarios Suscritos</h3>
        <table id="usuario-table" class="table table-hover" style="table-layout: fixed">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo de usuario</th>
                    <th>Ver</th>
                    <th>Desuscribir</th>
                </tr>
            </thead>
            @foreach (var usuario in Model.usuarios)
            {
                <tr>
                    <th>@usuario.nombre</th>
                    <td>@usuario.tipoUsuario</td>
                    <td><a href="~/Usuario/Detail/@usuario.nombre"><ion-icon name="person" class="js-detail btn btn-outline-success"></ion-icon></a></td>
                    <td><ion-icon usuario-data=@usuario.nombre name="thumbs-down-outline" class="js-delete-usuario btn btn-outline-danger"></ion-icon></td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <h3 class="my-4">No hay usuarios suscritos</h3>
}



@section scripts{
    <script>

        $(document).ready(function () {

            //Delete propietario Button
            $("#propietario-table").on("click", ".js-delete-propietario",
                function() {
                    var deleteButton = $(this);

                    bootbox.confirm({
                        message: "¿Desea despropiar a #" +deleteButton.attr("propietario-data") + " de esta propiedad?",
                        buttons: {
                            confirm: {
                                label: 'Sí',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-danger'
                            }
                        },
                        callback: function(result) {
                            if (result) {
                                $.ajax({
                                    method: "POST",
                                    url: '@Url.Content("~/PropiedadDelPropietario/Despropiar/")'+ @Model.propiedad.numeroFinca +"/"+ deleteButton.attr("propietario-data"),
                                    success: function () {
                                        deleteButton.parents("tr").remove();
                                    }
                                });
                            }
                        }
                    });

                });


            //Delete usuario suscrito
            $("#usuario-table").on("click", ".js-delete-usuario",
                function() {
                    var deleteButton = $(this);
                    var usuarioNombre = deleteButton.attr("usuario-data");

                    bootbox.confirm({
                        message: "¿Desea desuscribir a " + usuarioNombre + " de esta propiedad?",
                        buttons: {
                            confirm: {
                                label: 'Sí',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-danger'
                            }
                        },
                        callback: function(result) {
                            if (result) {
                                $.ajax({
                                    method: "POST",
                                    url: '@Url.Content("~/UsuarioDePropiedad/DesuscribirPropiedad/")' + usuarioNombre  + "/" + "@Model.propiedad.numeroFinca",
                                    success: function() {
                                        deleteButton.parents("tr").remove();
                                    }
                                });
                            }
                        }
                    });

                });

        });
    </script>
}
