@using Project_1.Models
@model Project_1.ViewModels.PropiedadIndexViewModel
@{
    ViewBag.Title = "Propiedades";
}
    <div class="jumbotron">
        <h3 class="display-4">Propiedades</h3>
        <p class="lead"></p>
        <hr class="my-4">
        <p class="lead">
            <button class="action-button btn btn-outline-dark" role="button">
                @Html.ActionLink("Agregar", "InsertForm", "Propiedad")
                <ion-icon name="add-circle-outline"></ion-icon>
            </button>
            
            <button class="btn btn btn-outline-dark" role="button">
                @Html.ActionLink("Actualizar", "UpdateForm", "Propiedad")
                <ion-icon name="arrow-up-outline"></ion-icon>
            </button>   
        </p>
    </div>
<table id="propiedad-table" class="table table-hover" style=" table-layout: fixed">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Numero de Finca</th>
            <th scope="col">Valor</th>
            <th scope="col">Direccion</th>
            <th>Ver</th>
            <th>Actualizar</th>
            <th>Borrar</th>
        </tr>
    </thead>
    @foreach (var propiedad in Model.propiedades)
    {
<tr>
    <th>@propiedad.numeroFinca</th>
    <td>@propiedad.valor</td>
    <td>@propiedad.direccion</td>
    <td><a href="~/Propiedad/Detail/@propiedad.numeroFinca"><ion-icon name="home-outline" class="btn btn-outline-info"></ion-icon></a></td>
    <td><a href="~/Propiedad/UpdateRedirect/@propiedad.numeroFinca"><ion-icon name="arrow-up-circle-outline" class="btn btn-outline-success"></ion-icon></a></td>
    <td><ion-icon name="trash-outline" propiedad-data="@propiedad.numeroFinca" class="js-delete btn btn-outline-danger"></ion-icon></td>

</tr>
    }
</table>

@section scripts{
    <script>
        
        $(document).ready(function () {
            $("#propiedad-table").DataTable();


            //Delete Button
            $("#propiedad-table").on("click", ".js-delete",
                function() {
                    var deleteButton = $(this);

                    bootbox.confirm({
                        message: "¿Desea eliminar la propiedad #" +deleteButton.attr("propiedad-data") + " de la base de datos ?",
                        buttons: {
                            confirm: {
                                label: 'Sí',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-danger'
                            }
                        },
                        callback: function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/Propiedad/Delete/" + deleteButton.attr("propiedad-data"),
                                    success: function() {
                                        deleteButton.parents("tr").remove();
                                    }
                                });
                            }
                        }
                    });

                });

        });
    </script>
}
